@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}


body{
  background-color:#202020;
}
#main{
  display:flex;
  margin-top:50px;
  justify-content: center;
}

  table{
      border-spacing: 0;
  }
  th, td{
      padding: 25px 50px;
      border: 2px solid #202020;
      background-color:white;
  }


  .hover{
    filter:brightness(75%);
  }


/*   Side dive configs */
  .configs{
      margin:0 50px;
      width:350px;
      background-color:#fff;
      border-radius:25px;
      text-align:center;
  }

  .positions{
    display:flex;
    justify-content: space-evenly
  }

  .fa-solid {
    font-size: 40px;
    color: black;
    margin: 10px;
}   
.divSetas{
  margin:0;
  display:flex;
  justify-content: space-evenly
}

.fa-solid:hover{
  color:#6320ee;
}

.texto button, .cor button{
  margin:5px;
}


.texto h3{
  margin:0 0 10px 0;
}

#textoTd{
    border-radius:5px;
    background-color:#ECECEC;
    border:2px solid solid #C4C4C4;
    outline:none;
    font-size:0.9em;
    padding:25px 10px 10px;
    font-weight:600;
    color:#343434;
    width:100%;
    margin: auto 0;
}

.disabled{
  opacity: 0.1;
  cursor: not-allowed;
}

.radioBtn{
  display:flex;
}
.radioBtn p{
  margin:0 10px;
}

.hidden{
  display:none;
}

.editTd  button{
  background-color: transparent;
  border-radius: 25px;
  padding:0;
}

.editTd button:hover{
  background-color:#ECECEC ;
}

#colorTd{
  width: 100%;
  border-radius: 5px;
 /*  padding: 25px 10px 10px; */
}


.input-text{
  display:flex;
  margin-bottom:20px;
  width:100%;
  border-radius:5px;
  border:2px solid transparent;}

  .input-text span{
    position:absolute;
    font-size:0.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin:35px 20px;
    cursor:text;
    transition: all 200ms ease;
  }

  .input-text .span-active{
    font-size: 0.7em;
    margin: 20px 15px;
  }

  .editTd .fa-solid{
    font-size: 10px;
  }

.color-bar{
  width: 100%;
  margin: auto 0;
}

  .cor{
    display:flex;
  }

  .color label{
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
  }



  .cor{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
  }
  

  .download{
    margin:10px;
  }

  .download button{
    border-radius:10px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;}

    
    .download button:hover {
      background-color: #4CAF50;
      color: white;
    }
